<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--
  <iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src={{srcString}}
  allowfullscreen>
</iframe>+
"https://www.google.com/maps/embed/v1/place?key=AIzaSyDYuIcr2sOl6ILrp0-kl29YRzMNLkrFVXQ
    &q=Osnabrück,Theodor-Heuss-Platz+2"
-->
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  [src]="safeSrc">
</iframe>
  
</ion-content>
