.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh; 
}

.svg-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.railwayMission {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/railwayMission.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noRailwayMission {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/noRailwayMission.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.DBLounge {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/DBLounge.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noDBLounge {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/noDBLounge.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.lostAndFound {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/lostAndFound.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noLostAndFound {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/noLostAndFound.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.localServiceStaff {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/serviceInfo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noLocalServiceStaff {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/noServiceInfo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.travelCenter {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/reisezentrum.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noTravelCenter {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/noReisezentrum.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.carRental {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/carRental.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noCarRental {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/noCarRental.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.wifi {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/wifi.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noWifi {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/noWifi.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.locker {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/locker.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noLocker {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/bahnhofservices/noLocker.svg');
  background-repeat: no-repeat;
  background-position: center;
}