.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh; 
}

.svg-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.taxi {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/transport/taxi.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noTaxi {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/transport/noTaxi.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.bus {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/transport/bus.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.noBus {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/frontend/transport/noBus.svg');
  background-repeat: no-repeat;
  background-position: center;
}