<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transport</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transport</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid *ngIf="dataObj">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Taxi</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="container">
              <div class="svg-container">
                <div class="taxi" *ngIf="dataObj && dataObj.hasTaxiRank"></div>
                <div class="noTaxi" *ngIf="dataObj && !dataObj.hasTaxiRank"></div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Bus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="container">
              <div class="svg-container">
                <div class="bus" *ngIf="dataObj && dataObj.hasTravelNecessities"></div>
                <div class="noBus" *ngIf="dataObj && !dataObj.hasTravelNecessities"></div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
