<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>
  <br />

  <ng-select [items]="bahnhoefe$ | async" bindLabel="name" autofocus 
    [(ngModel)]="selectedBahnhof">
  </ng-select>
  <ion-button (click)="navigateToBahnhofView()" expand="block" color="primary">
    Suche
    <ion-icon slot="end" name="search"></ion-icon>
  </ion-button>
  <ion-list>
    <ion-item *ngIf="selectedBahnhof">
      <p> {{selectedBahnhof.number}} </p>
    </ion-item>
    <br />
    <ion-item>

    </ion-item>
  </ion-list>
</ion-content>