<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"> Logout </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()"> Logout </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <br />

  <ng-select [items]="bahnhoefe$ | async" bindLabel="name" autofocus 
    [(ngModel)]="selectedBahnhof">
  </ng-select>
  <ion-button (click)="navigateToBahnhofView()" expand="block" color="primary">
    Suche
    <ion-icon slot="end" name="search"></ion-icon>
  </ion-button>
  <ion-list>
    <ion-item>
      Aktuelle Position:
    </ion-item>
    <ion-card class="ion-padding ion-margin-vertical" style="height : 62vh">
      <div class="ion-text-center" style="height: 100%">
        <iframe
        style="display:block;"
        width="100%"
        height="100%"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        [src]="safeSrc">
      </iframe>
      </div>
      
    </ion-card>
  </ion-list>
</ion-content>