<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BahnhofViewTest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top-image"></div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let icon of text">
        <a size="large" href="/{{ icon }}">{{ icon }}</a>
        <ion-text color="secondary">
          <p class="ion-no-margin">fox</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
