<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <br />
  <form name="registerForm" [formGroup]="registerForm">
  <ion-list>
    <ion-item>
      <ion-input label-placement="floating" formControlName="emailForm" [(ngModel)]="email" label="E-Mail" fill="solid"
        placeholder="max@mustermann.de" helperText="Deine Email eingeben" errorText="Email ungültig"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label-placement="floating" formControlName="passwordForm" [(ngModel)]="password" type="password"
        label="Passwort" fill="solid" placeholder="●●●●●●●●" helperText="Passwort eingeben"
        errorText="Passwort ist falsch" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="register()" expand="block" color="primary">
        Register
      </ion-button>
    </ion-item>
    <ion-item>
      <a href="/login">Login</a>
    </ion-item>
  </ion-list>
  <ion-toast [isOpen]="isToastOpen" [message]="toastMessage" [duration]="5000"
    (didDismiss)="setOpen(false)"></ion-toast>
  </form>
</ion-content>